body {
    background-color: #f3f2ef;
    font-size: smaller;
    margin: 80px 0px 0px 0px;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0px 0px .7px 0px #000000;
}

.form-control {
    background-color: #e2f0fe;
    border: 0px;
    height: 34px;
    border-radius: 4px;
}

.leftContainer {
    margin-left: 100px;
    margin-top: 40px;
    float: left;
    width: 260px;
}

.gold-square {
    width: 13px;
    height: 13px;
    border-radius: 2px;
    background-color: #efbb6f;
}

.fa-circle {
    color: #70b5f9;
}

.firstContainer {
    width: 220px;
    float: left;
    margin: 20px 0px 0px 20px;
    background-color: #ffffff;
    border-radius: 9px;
    overflow: hidden;
    border: .5px solid #9494944f;
}

.secondContainer {
    width: 220px;
    float: left;
    margin: 20px 0px 0px 20px;
    background-color: #ffffff;
    border-radius: 9px;
    overflow: hidden;
    border: .5px solid #9494944f;
}

.customBreak {
   height: 1px;
}

.customList {
    list-style-type: none;
}

.customImg {
    width: 60px;
    height: 17px;
}

.customImg1 {
    width: 45px;
    height: 45px;
}

.customButtom {
    height: 40px;
    border-top: .1px solid #9494944f;
}

.customButton2 {
    border: .1px solid #9494944f;
}

.seperator {
    border: .1px solid #9494944f;
}

.fontMy {
    font-size: small;
    text-align: left;
}

.fontBig {
    font-size: 1rem;
    font-weight: 500;
}

.fontMyCenter {
    font-size: small;
}

.middlePostContainer {
    width: 550px;
    height: 120px;
    float: left;
    margin-top: 60px;
    border-radius: 9px;
    border: 1px solid #9494944f;
    background-color: #ffffff;
}

.form-control {
    font-weight: 500;
    border: .1px solid #9494944f;
}

.custom-input {
    height: 50px;
    padding-left: 40px;
    background-color: #ffffff;
    border-radius: 30px;
}

.postCenter i {
    position: absolute;
    left: 0px;
    padding: 22px 30px;
    pointer-events: none;
}

.rightContainer {
    width: 260px;
    float: right;
    margin: 60px 160px 0px 0px;
}

.topContainer {
    border-radius: 9px;
    border: .5px solid #9494944f;
    background-color: #ffffff;
}

.middleContainer {
    margin: 20px 0px 0px 0px;
    border-radius: 9px;
    border: .5px solid #9494944f;
    background-color: #ffffff;
}

.bottomContainer {
    padding: 0px 0px 0px 10px;
}
